In [30]:
import os
import pandas as pd
cwd = os.path.abspath('/Volumes/Works/Development/Python/Shout/newTweets/DS1') 
files = os.listdir(cwd)

In [31]:
cwd

'/Volumes/Works/Development/Python/Shout/newTweets/DS1'

In [32]:
files

['tweet21.xlsx', 'alltweet12.xlsx']

In [33]:
df = pd.DataFrame()
df1 = pd.DataFrame()
for file in files:
     if file.endswith('.xlsx'):
         df = df.append(pd.read_excel('/Volumes/Works/Development/Python/Shout/newTweets/DS1/'+file), ignore_index=True) 
df.head()

,Unnamed: 0,date,Text,Location,Unnamed: 0.1
0,0,2021-05-29 10:43:02+00:00,FTA supports the call to stress the urgent nee...,NaN,NaN
1,1,2021-05-29 04:05:58+00:00,I took notice. This is a disgusting misuse of...,"Poughkeepsie, NY",NaN
2,2,2021-05-29 01:45:52+00:00,@Tristonator2000 @TopTierDubClips Youâ€™re makin...,Texas; ðŸ“¨: bjrusape@gmail.com,NaN
3,3,2021-05-28 18:59:29+00:00,Iâ€™m absolutely in agreement that diversity on ...,Just faffing about,NaN
4,4,2021-05-28 16:05:24+00:00,GREATER WELLINGTON COMMITS TO SUPPLIER DIVERSI...,New Zealand,NaN

In [28]:
len(df.values)

1140092

In [29]:
df.to_excel('/Volumes/Works/Development/Python/Shout/newTweets/DS1/DS1.xlsx', engine='xlsxwriter')

ValueError: This sheet is too large! Your sheet size is: 1140092, 4 Max sheet size is: 1048576, 16384